.main {
  margin: 50px;
}

.introduction {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.introduction-img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  border: var(--primary) solid 2px;
}

.introduction__text-container {
  align-self: end;
}

.introduction__text-container > h2 {
  margin-bottom: -10px;
  color: var(--primary-light);
} 

.introduction__text-container > h4 {
  font-weight: 300;
  margin-bottom: 30px;
}

.introduction-text {
  background-color: var(--secondary);
  padding: 20px;
  border: var(--primary) 2px solid;
  border-radius: 15px;
  max-width: 350px;
}

/* Resume Section */
.resume {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-bottom: 20px;
}

.column-one, .column-two {
  padding: 0 20px;
  max-width: 390px;
}

.contact > h3 {
  margin-bottom: 20px;
  color: var(--primary);
}

.contacts-container {
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
  text-decoration: none;
  color: var(--black);
}

.contact-info:hover, .contact-info:focus {
  transform: scale(0.98);
  transition: 500ms;
}

.contact-info:nth-last-of-type(1) {
  margin-bottom: -10px;
}

.contact-info > img {
  width: 35px;
  height: 35px;
}

.education > h3, .experience > h3, .volunteering > h3 {
  color: var(--primary);
  margin-bottom: 10px;
}

.education-container, .experience-container, .volunteering-container {
  display: flex;
  gap: 15px;
  margin-top: -15px;
  align-items: baseline;
}

.education-info, .experience-info, .volunteering-info {
  display: flex;
  flex-direction: column;
}

.education-info > h5, .experience-info > h5, .volunteering-info > h5 {
  margin-bottom: 0;
}

.education-info > p, .experience-info > p, .volunteering-info > p {
  color: var(--primary-light);
}

.volunteering-container:nth-last-of-type(1) {
  margin-bottom: -10px;
}

.skills > h3 {
  color: var(--primary);
  margin-bottom: 5px;
}

.skills > ul > li {
  padding: 5px 2px;
}

.skills > ul > li::marker {
  color: var(--primary-light);
}

.software > h3 {
  color: var(--primary);
  margin-bottom: 15px;
}

.software-icons {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 10px;
  margin-left: -5px;
}

.software-icons > img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 50px 30px;
  }
  
  .introduction {
    gap: 40px;
    margin-bottom: 30px;
  }

  .resume {
    column-gap: 10px;
  }
  
  .column-one, .column-two {
    padding: 0 10px;
  }
}

@media screen and (max-width: 685px) {
  .main {
    margin: 50px 30px 40px;
  }

  .introduction {
    flex-direction: column;
  }
  
  .introduction-img {
    width: 200px;
    height: 200px;
    object-position: 0 20%;
    border-radius: 50%;
  }
  
  .introduction__text-container {
    align-self: center;
    margin-top: -30px;
  }

  .introduction__text-container > h2 {
    text-align: center;
  } 
  
  .introduction__text-container > h4 {
    text-align: center;
  }
  .resume {
    flex-direction: column;
    align-items: center;
  }
  
  .column-one, .column-two {
    max-width: 350px;
  }
  
  .contact > h3, .education > h3, .experience > h3, .volunteering > h3, .skills > h3, .software > h3 {
    text-align: center;
  }

  .contact-info > img {
    width: 30px;
    height: 30px;
  }
  
  .software {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
  }

  .software-icons {
    justify-content: center;
  }
} 

@media screen and (max-width: 390px) {
  .introduction {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .column-one, .column-two {
    align-items: center;
  }
  
  .introduction-img {
    width: 150px;
    height: 150px;
  }
  
  .introduction__text-container > h2 {
    margin-top: -15px;
  } 
  
  .introduction__text-container > h4 {
    margin-bottom: 25px;
  }
  
  .introduction-text {
    background-color: var(--secondary);
    padding: 10px 15px;
    margin-bottom: -10px;
  }

  .volunteering-container {
    justify-content: center;
  }
  
  .software-icons {
    width: 250px;
    gap: 8px;
  }
  
  .software-icons > img {
    width: 50px;
    height: 50px;
  }
}